.scrollable-chat tbody {
    display: block;
    height: 250px;
    overflow-y: scroll;
}

.scrollable-chat thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

.scrollable-chat thead {
    /* width: calc( 100% - 1em); */
    /* scrollbar is average 1em/16px width, remove it from thead width */
}

.scrollable-chat th:first-child,
.scrollable-chat td:first-child {
    width: 100px;
}

.row-draft {
    padding-bottom: 10px;
}

.draft-viewer {
    display: block;
    height: 250px;
    overflow: auto;
    padding: 0px;
}

.row.controls {
    padding-bottom: 15px;
}

body {
    padding-top: 60px;
}

.cardhover p.one + img,
.cardhover p.two img {
   display: none;
}

.cardhover p.one:hover + img {
    display: block;
    position: absolute;
    z-index:  1000;
    max-width: 250px;
}
.cardhover p.two:hover img { 
    display: block;
    position: absolute;
    z-index:  1000;
    max-width: 250px;
}

.modal-img .modal-dialog > * {
    max-width: 300px;
    display: inline-block;
}

.modal-img img {
    width: 100%;
}

.battlebox-textarea {
    width: 100%;
    height: 500px;
}

.card {
    max-width: 200px;
    /* height: 204px; */
    width: 100%;
    /* height: 100px; */
    /* position: relative; */
    border-radius: 15px;
}
.card-border {
    border-radius: 15px;
}
.card:hover {
    border: #7ec730 solid 2px;
    border-radius: 15px;
    opacity: .9
}
@media only screen and (min-width: 992px) {
    .gridRow .gridCol {
        width: inherit;
        min-width: 200px;
    }
}
.gridRow {min-height: 50px;}
.gridRow .gridCol {
    padding: 0px;
    max-height: 175px;
    overflow: hidden;
}
@media only screen and (min-width: 700px) {
    .gridRow .gridCol {
        /* min-width: 146px; */
        /* min-height: 204px; */
        /* min-width: 200px; */
    }
}
.center {
    text-align: center;
}
@media only screen and (max-width: 700px) {
    .gridRow .row-button {
        transform: rotate(-90deg);
        margin-left: -15px;
        margin-top: 20px;
    }
}

/*.card-hover .one + .two {*/
/*    display: none;*/
/*}*/
/*.card-hover .one:hover + .two {*/
/*    display: block;*/
/*    position: absolute;*/
/*    z-index:  1000;*/
/*    max-width: 250px;*/
/*}*/

.card-hover .one:hover {
    position: absolute;
    z-index: 1000;
    height: 345px;
    width: 250px;
    left: -47px;
    top: -65px;
}

.btn-join-draft {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0px;
}

.main-view {
    /*Margin to account for the fixed bottom nav*/
    margin-bottom: 50px;
}

.manaSymbol {
	height: 12px;
	margin-right: 5px;
}

.color-column {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    overflow: hidden;
}
@media only screen and (max-width: 1200px) {
    .color-column {
        width: 32%;
    }
}
@media only screen and (max-width: 700px) {
    .color-column {
        width: 100%;
    }
}

.card-mana-link {
    padding: 5px;
    display: inline-block;
    position: inherit;
}   
.card-mana-link:focus,
.card-mana-link:hover {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none;
    /* position: absolute; */
    /* z-index: 100; */
}

.draft-card-list {
    min-height: 150px;
    background: #fff5bb;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    margin-bottom: 20px;
}
.draft-card-list h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

.deckRow {
    min-height: 30px;
    overflow: visible;
}

.card-modal .modal-dialog {
    text-align: center;
}

.curve-wrapper {
    /* width: 100%; */
    display: inline-block;
    height: 50px;
}

.curve-section {
    height: 100%;
    margin-right: 5px;
    float: left;
    width: 15px;
    text-align: center;
}

.curve-bar {
    position: relative;
    height: 30px;
}

.curve-color {
    background: #5cb85c;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    color: black;
    display: flex;
    font-weight: bold;
    text-align: center;
}

.curve-cmc {
    align-self: flex-end;
    width: 100%;
}