.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.float-none {
    float: none !important;
}
.align-right,
.right-align {
    text-align: right;
}

.margin-me {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-main {
    margin-bottom: 20px;
    min-height: 350px;
}

.modal-open {
    overflow: auto;
}

.card-modal {
  padding-right: 0px !important;
}

.card-action {
    margin: 10px 0px;
}
.card-action > .btn {
    margin: 10px 0px;
    background: purple;
    color: white;
    text-shadow: none;
    width: 100%;
}
.card-action > .btn:hover {
    margin: 10px 0px;
    background:#5d005d;
    color: white;
    text-shadow: none;
    width: 100%;
}

.scrollable-chat tbody {
    display: block;
    height: 250px;
    overflow-y: scroll;
}

.scrollable-chat thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}
/* 
.scrollable-chat thead {
    width: calc( 100% - 1em);
    scrollbar is average 1em/16px width, remove it from thead width
}
*/

.scrollable-chat th:first-child,
.scrollable-chat td:first-child {
    width: 100px;
}

.row-draft {
    padding-bottom: 10px;
}

.draft-viewer {
    display: block;
    height: 250px;
    overflow: auto;
    padding: 0px;
}

.row.controls {
    padding-bottom: 15px;
}

body {
    padding-top: 60px;
    padding-right: 0px !important;
}

.cardhover p.one + img,
.cardhover p.two img {
   display: none;
}

.cardhover p.one:hover + img {
    display: block;
    position: absolute;
    z-index:  1000;
    max-width: 250px;
}
.cardhover p.two:hover img { 
    display: block;
    position: absolute;
    z-index:  1000;
    max-width: 250px;
}

.modal-img .modal-dialog > * {
    max-width: 300px;
    display: inline-block;
}

.modal-img img {
    width: 100%;
}

.battlebox-textarea {
    width: 100%;
    height: 500px;
}

.stacked .card {
    opacity: 1;
}
.card {
    max-width: 200px;
    /* height: 204px; */
    width: 100%;
    /* height: 100px; */
    /* position: relative; */
    border-radius: 15px;
    /*     border: solid 2px #2d2a26; */
    opacity: .92;
}
.card-border {
    border-radius: 15px;
}
.card:hover {/*     border: #7ec730 solid 2px; */border-radius: 15px;/* opacity: 1; */}
@media only screen and (min-width: 992px) {
    .gridRow .gridCol {
        width: inherit;
        min-width: 200px;
    }
}
.gridRow {min-height: 50px;}
.gridRow .gridCol {
    padding: 0px;
    max-height: 175px;
    overflow: hidden;
}
.unstacked .gridCol {
    max-height: none;
}
.pile {
    margin-top: 105%;
}
.pile > .card {
    display: block;
    margin-top: -102%;
    opacity: 1;
    border-radius: 10px;
}
.active {
    border: #7ec730 solid 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
@media only screen and (min-width: 700px) {
    .gridRow .gridCol {
        /* min-width: 146px; */
        /* min-height: 204px; */
        /* min-width: 200px; */
    }
}
.center {
    text-align: center;
}
@media only screen and (max-width: 700px) {
    .gridRow .row-button {
        transform: rotate(-90deg);
        margin-left: -15px;
        margin-top: 20px;
    }
}

/*.card-hover .one + .two {*/
/*    display: none;*/
/*}*/
/*.card-hover .one:hover + .two {*/
/*    display: block;*/
/*    position: absolute;*/
/*    z-index:  1000;*/
/*    max-width: 250px;*/
/*}*/

.card-hover .one:hover {
    position: absolute;
    z-index: 1000;
    height: 345px;
    width: 250px;
    left: -47px;
    top: -65px;
}

.btn-join-draft {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0px;
}

.main-view {
    /*Margin to account for the fixed bottom nav*/
    margin-bottom: 50px;
}

.manaSymbol {
	height: 12px;
	margin-right: 5px;
}

.color-column {
    width: 19%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    overflow: hidden;
}
@media only screen and (max-width: 1200px) {
    .color-column {
        width: 32%;
    }
}
@media only screen and (max-width: 700px) {
    .color-column {
        width: 100%;
    }
}

.card-mana-link {
    padding: 5px;
    display: inline-block;
    position: inherit;
}   
.card-mana-link:focus,
.card-mana-link:hover {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none;
    /* position: absolute; */
    /* z-index: 100; */
}

.draft-card-list {
    min-height: 150px;
    background: #fff5bb;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    margin-bottom: 20px;
}
.draft-card-list h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

.deckRow {
    min-height: 30px;
    overflow: visible;
}

.card-modal .modal-dialog {
    text-align: center;
}

.curve-wrapper {
    /* width: 100%; */
    display: inline-block;
    height: 50px;
}

.curve-section {
    height: 100%;
    margin-right: 5px;
    float: left;
    width: 15px;
    text-align: center;
}

.curve-bar {
    position: relative;
    height: 30px;
}

.curve-color {
    background: #5cb85c;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    color: black;
    display: flex;
    font-weight: bold;
    text-align: center;
}

.curve-cmc {
    align-self: flex-end;
    width: 100%;
}

.pack-row {
    padding: 20px;
    overflow: hidden;
    border: 2px solid black;
    overflow: auto;
}
.pack-row > .pack-card {
    float:left;
    width:18%;
    margin: 5px;
    max-height: 95px;
}

@media only screen and (max-width: 991px) {
    .pack-row > .pack-card {
        margin:2px;
        width:31%;
    }
}

@media only screen and (max-width: 520px) {
    .pack-row > .pack-card {
        margin:1px;
        width:31%;
    }
}

.unstacked.pack-row > .pack-card {
    max-height: none;
}

.stacked > .pack-card:last-child {
    max-height: none;
}

/* .pack-row > .pack-card:not(:first-child) { */
/*     margin-left: -5%; */
/*     margin-bottom: -5px; */
/* } */

/* .pack-row > .pack-card .card-image-link .card {
    transform: rotate(-0deg);
} */

.pack-card .card:hover {
    opacity: 1;
    /* position: absolute; */
}

.navbar-bottom {
    border-radius: 0px;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0px;
}

.navbar-header {
    font-size: 32px;
    padding-left: 0px;
}

.navbar-inner .btn-link {
    line-height: 56px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.footer-outer {
    background: #333;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.footer-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ccc;
    text-align: center;
}

.nav > .navbar-mtg-only {
    display: none;
}

.navbar-mtg .nav > .navbar-mtg-only {
    display: block;
}
.navbar-mtg .nav > .navbar-mtg-hidden {
    display: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#homeCarousel {
    max-width: 500px;
}
#homeCarousel .carousel-inner .item img {
    display: inline-block;
}
#homeCarousel .carousel-inner .item {
    text-align: center;
    max-height: 350px;
}

.home-link {
    max-width: 500px;
    height: 350px;
    display: block;
    position: relative;
    box-shadow: 2px 2px 5px #000;
    border-radius: 5px;
    margin-bottom: 75px;
    color: #ddd;
    background-color: #666;
    text-shadow: 2px 2px 5px #000;
    font-family: Arial Black;
}
@media (max-width: 1199px) {
    .home-link {
        margin-bottom: 25px;
    }
}
.home-link:hover {
    color: #fff;
    box-shadow: 2px 2px 8px #000;
}
.home-link > div {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.home-developer {
    background-image: url("https://i.imgur.com/Zzq0A66.jpg");
}
.home-developer:hover {
    background-image: url("https://i.imgur.com/lPCXTdK.jpg");
}
.home-gamer {
    background-image: url("https://i.imgur.com/7f7wydD.jpg");
}
.home-gamer:hover {
    background-image: url("https://i.imgur.com/ADmvHxm.jpg");
}
.home-artist {
    background-image: url("https://i.imgur.com/0rMMOx9.jpg");
}
.home-artist:hover {
    background-image: url("https://i.imgur.com/1Or4qsN.jpg");
}
.home-artist > div {
  left: -44%;
  right: 15%;
  bottom: 156px;
}
.home-human {
    background-image: url("https://i.imgur.com/1BmUg8T.jpg");
}
.home-human:hover {
    background-image: url("https://i.imgur.com/FOoyl1g.jpg");
}
