<div ng-controller="DraftCtrl">
    <div class="row">
        <div class="col-xs-12">

            <div>DraftRoom</div>
            <div>DraftType: {{draftService.publicDrafts[draftService.draftId].type.name}}</div>
            <div ng-repeat="descriptionLine in draftService.publicDrafts[draftService.draftId].type.description">
                {{descriptionLine}}
            </div>
            <div>DraftId: {{draftService.draftId}}</div>
            <div>DraftType: {{draftService.publicDrafts[draftService.draftId].turn}}</div>
            <br>
            <div>Players</div>
            <div ng-repeat="player in draftService.publicDrafts[draftService.draftId].players">
                {{player}}
            </div>
            <br>
            <div>All Cards in {{draftService.publicDrafts[draftService.draftId].cube.name}} Cube</div>
            <div>
                <span ng-repeat="card in draftService.publicDrafts[draftService.draftId].cube.cards">{{card}}, </span>
            </div>

            <!--<div>{{draftService.publicDrafts[draftService.draftId]}}</div>-->

        </div>
    </div>
</div>
