<div class="row">
    <div class="col-xs-12">
        <div ondrop="dropInDeck(event)" ondragover="allowDrop(event)" class="draft-card-list maindeck">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h3>Deck</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-9">

                    <card-col colname="'White'" coltype="'Deck'" cardlist="sortedDeck.white" 
                        cardservice="cardService" action="moveToSideboard" actionlabel="'Sideboard'"></card-col>

                    <card-col colname="'Blue'" coltype="'Deck'" cardlist="sortedDeck.blue" 
                        cardservice="cardService" action="moveToSideboard" actionlabel="'Sideboard'"></card-col>

                    <card-col colname="'Black'" coltype="'Deck'" cardlist="sortedDeck.black" 
                        cardservice="cardService" action="moveToSideboard" actionlabel="'Sideboard'"></card-col>

                    <card-col colname="'Red'" coltype="'Deck'" cardlist="sortedDeck.red" 
                        cardservice="cardService" action="moveToSideboard" actionlabel="'Sideboard'"></card-col>

                    <card-col colname="'Green'" coltype="'Deck'" cardlist="sortedDeck.green" 
                        cardservice="cardService" action="moveToSideboard" actionlabel="'Sideboard'"></card-col>

                    <card-col colname="'Multi'" coltype="'Deck'" cardlist="sortedDeck.multi" 
                        cardservice="cardService" action="moveToSideboard" actionlabel="'Sideboard'"></card-col>

                    <card-col colname="'Colorless'" coltype="'Deck'" cardlist="sortedDeck.colorless" 
                        cardservice="cardService" action="moveToSideboard" actionlabel="'Sideboard'"></card-col>

                    <card-col colname="'Land'" coltype="'Deck'" cardlist="sortedDeck.land" 
                        cardservice="cardService" action="moveToSideboard" actionlabel="'Sideboard'"></card-col>

                </div>
                <div class="col-xs-6 col-sm-3">
                    <div>
                        <div class="curve-wrapper">
                            <div ng-repeat="cmc in sortedDeck.curve" class="curve-section">
                                <div class="curve-bar">
                                    <div class="curve-color" style="height: {{cmc / sortedDeck.mostOnCurve * 100}}%">
                                        <div class="curve-cmc">{{cmc}}</div>
                                    </div>
                                </div>
                                <div>{{$index}}</div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>{{sortedDeck.cardCount}} Total Cards</div>
                        <div>{{sortedDeck.cardCount - sortedDeck.land.length}} Spells</div>
                        <div>{{sortedDeck.creatureCount}} Creature Spells</div>
                        <div>{{sortedDeck.noncreatureCount}} Non-Creature Spells</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div ondrop="dropInSideboard(event)" ondragover="allowDrop(event)" class="draft-card-list sideboard">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Sideboard: {{secretDraft.sideboard.length}} Cards</h3>
                </div>
            </div>
            <div class="color-column" ng-hide="sortedSideboard.white.length == 0">
                <div><strong>White</strong></div>
                <div ng-repeat="card in sortedSideboard.white" class="deckRow">
                    <card-mana id="$index + 'white-sideModal'" card="card" cardservice="cardService" action="moveToDeck" actionlabel="'Deck'"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedSideboard.blue.length == 0">
                <div><strong>Blue</strong></div>
                <div ng-repeat="card in sortedSideboard.blue" class="deckRow">
                    <card-mana id="$index + 'blue-sideModal'" card="card" cardservice="cardService" action="moveToDeck" actionlabel="'Deck'"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedSideboard.black.length == 0">
                <div><strong>Black</strong></div>
                <div ng-repeat="card in sortedSideboard.black" class="deckRow">
                    <card-mana id="$index + 'black-sideModal'" card="card" cardservice="cardService" action="moveToDeck" actionlabel="'Deck'"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedSideboard.red.length == 0">
                <div><strong>Red</strong></div>
                <div ng-repeat="card in sortedSideboard.red" class="deckRow">
                    <card-mana id="$index + 'red-sideModal'" card="card" cardservice="cardService" action="moveToDeck" actionlabel="'Deck'"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedSideboard.green.length == 0">
                <div><strong>Green</strong></div>
                <div ng-repeat="card in sortedSideboard.green" class="deckRow">
                    <card-mana id="$index + 'green-sideModal'" card="card" cardservice="cardService" action="moveToDeck" actionlabel="'Deck'"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedSideboard.multi.length == 0">
                <div><strong>Multi</strong></div>
                <div ng-repeat="card in sortedSideboard.multi" class="deckRow">
                    <card-mana id="$index + 'multi-sideModal'" card="card" cardservice="cardService" action="moveToDeck" actionlabel="'Deck'"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedSideboard.colorless.length == 0">
                <div><strong>Colorless</strong></div>
                <div ng-repeat="card in sortedSideboard.colorless" class="deckRow">
                    <card-mana id="$index + 'colorless-sideModal'" card="card" cardservice="cardService" action="moveToDeck" actionlabel="'Deck'"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedSideboard.land.length == 0">
                <div><strong>Land</strong></div>
                <div ng-repeat="card in sortedSideboard.land" class="deckRow">
                    <card-mana id="$index + 'land-sideModal'" card="card" cardservice="cardService" action="moveToDeck" actionlabel="'Deck'"></card-mana> 
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="row" ng-hide="opponentPool.length == 0">
    <div class="col-xs-12">
        <div ondrop="dropInSideboard(event)" ondragover="allowDrop(event)" class="draft-card-list opp-pool">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Opponent's Pool: {{opponentPool.length}} Cards</h3>
                </div>
            </div>
            <div class="color-column" ng-hide="sortedOpponentPool.white.length == 0">
                <div><strong>White</strong></div>
                <div ng-repeat="card in sortedOpponentPool.white" class="deckRow">
                    <card-mana id="$index + 'white-opponentModal'" card="card" cardservice="cardService"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedOpponentPool.blue.length == 0">
                <div><strong>Blue</strong></div>
                <div ng-repeat="card in sortedOpponentPool.blue" class="deckRow">
                    <card-mana id="$index + 'blue-opponentModal'" card="card" cardservice="cardService"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedOpponentPool.black.length == 0">
                <div><strong>Black</strong></div>
                <div ng-repeat="card in sortedOpponentPool.black" class="deckRow">
                    <card-mana id="$index + 'black-opponentModal'" card="card" cardservice="cardService"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedOpponentPool.red.length == 0">
                <div><strong>Red</strong></div>
                <div ng-repeat="card in sortedOpponentPool.red" class="deckRow">
                    <card-mana id="$index + 'red-opponentModal'" card="card" cardservice="cardService"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedOpponentPool.green.length == 0">
                <div><strong>Green</strong></div>
                <div ng-repeat="card in sortedOpponentPool.green" class="deckRow">
                    <card-mana id="$index + 'green-opponentModal'" card="card" cardservice="cardService"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedOpponentPool.multi.length == 0">
                <div><strong>Multi</strong></div>
                <div ng-repeat="card in sortedOpponentPool.multi" class="deckRow">
                    <card-mana id="$index + 'multi-opponentModal'" card="card" cardservice="cardService"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedOpponentPool.colorless.length == 0">
                <div><strong>Colorless</strong></div>
                <div ng-repeat="card in sortedOpponentPool.colorless" class="deckRow">
                    <card-mana id="$index + 'colorless-opponentModal'" card="card" cardservice="cardService"></card-mana> 
                </div>
            </div>
            <div class="color-column" ng-hide="sortedOpponentPool.land.length == 0">
                <div><strong>Land</strong></div>
                <div ng-repeat="card in sortedOpponentPool.land" class="deckRow">
                    <card-mana id="$index + 'land-opponentModal'" card="card" cardservice="cardService"></card-mana> 
                </div>
            </div>
        </div>
    </div>
</div>