<div ng-controller="DraftCtrl">
    <div ng-hide="!publicDraft">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <!--<div>DraftId: {{draftService.draftId}}</div>-->
                <!--<div>Turn: {{publicDraft.turn}}</div>-->
                <!--<div>Draft Complete: {{publicDraft.complete}}</div>-->
                <div ng-hide="publicDraft.type.name != 'Grid'">
                    <div ng-hide="publicDraft.complete"><strong>Current Grid:</strong> <span class="label label-primary">{{publicDraft.gridNumber}}</span> of <span class="label label-primary">{{publicDraft.numGrids}}</span></div>
                </div>
                <div ng-hide="!publicDraft.activePlayer"><strong>Active Player:</strong> <span class="label label-success">{{publicDraft.players[publicDraft.activePlayer-1]}}</span></div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div><strong>Players</strong></div>
                <div ng-repeat="player in publicDraft.players">
                    - {{player}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div><strong>Draft Type:</strong> {{publicDraft.type.name}}</div>
                <div ng-repeat="descriptionLine in publicDraft.type.description">
                    {{descriptionLine}}
                </div>
            </div>
        </div>
        
        <br>
        
        <div class="row">
            <div class="col-xs-12">
                <div ng-hide="!publicDraft.complete">
                    <div class="btn btn-primary" ng-click="saveDeck();">Save Deck</div>
                </div>
            </div>
        </div>
                
        <div class="row">
            <div class="col-xs-12">
                <div ng-include="getDraftInclude()"></div>
            </div>
        </div>
                
                <br>
                
        <div class="row">
            <div class="col-xs-12">
                <div ng-include="'/app/mtg/draft/room/deck.html'"></div>
            </div>
        </div>
                
                <br>
                
                <!--<div><h3>All Cards in {{publicDraft.cube.name}} Cube</h3></div>-->
                <!--<div>-->
                <!--    <span ng-repeat="card in publicDraft.cube.cards">-->
                <!--        <div><card-text id="$index + 'allCardModal'" card="card" cardservice="cardService"></card-text></div>-->
                <!--    </span>-->
                <!--</div>-->
                
                <br>
                <br>
    
                <!--<div>{{draftService.publicDrafts[draftService.draftId]}}</div>-->
    
            </div>
        </div>
    </div>
</div>