<div ng-controller="DraftCtrl">
    <div class="row">
        <div class="col-xs-12">

            <div>DraftRoom</div>
            <div>DraftType: {{publicDraft.type.name}}</div>
            <div ng-repeat="descriptionLine in publicDraft.type.description">
                {{descriptionLine}}
            </div>
            <div>DraftId: {{draftService.draftId}}</div>
            <div>Turn: {{publicDraft.turn}}</div>
            <div>Active Player: {{publicDraft.activePlayer}}</div>
            <div>Draft Complete: {{publicDraft.complete}}</div>
            <br>
            <div>Players</div>
            <div ng-repeat="player in publicDraft.players">
                {{player}}
            </div>
            <br>
            
            <div ng-include="getDraftInclude()"></div>
            
            <br>
            
            <div ng-include="'/app/mtg/draft/room/deck.html'"></div>
            
            <br>
            
            <div><h3>All Cards in {{publicDraft.cube.name}} Cube</h3></div>
            <!--<div>-->
            <!--    <span ng-repeat="card in publicDraft.cube.cards">-->
            <!--        <div><card-text id="$index + 'allCardModal'" card="card" cardservice="cardService"></card-image></div>-->
            <!--    </span>-->
            <!--</div>-->
            
            <br>
            <br>

            <!--<div>{{draftService.publicDrafts[draftService.draftId]}}</div>-->

        </div>
    </div>
</div>