<div ng-hide="publicDraft.complete">
    <div class="row gridRow">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-3 gridCol center">
            <div class="btn btn-default btn-draft-col" ng-click="draftCol(0);" ng-disabled="">Pick</div>
        </div>
        <div class="col-xs-3 gridCol center">
            <div class="btn btn-default btn-draft-col" ng-click="draftCol(1);" ng-disabled="">Pick</div>
        </div>
        <div class="col-xs-3 gridCol center">
            <div class="btn btn-default btn-draft-col" ng-click="draftCol(2);" ng-disabled="">Pick</div>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
    <div ng-repeat="row in grid" class="row gridRow">
        <div class="col-xs-2 center">
            <div class="btn btn-default row-button btn-draft-row" ng-click="draftRow($index);" ng-disabled="">Pick</div>
        </div>
        <div ng-repeat="card in row" class="col-xs-3 gridCol">
            <card-image id="$parent.$index + '' + $index + 'gridCard'" card="card" cardservice="cardService"></card-image>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>
