<div ng-controller="ChatController">
    <em style="color:red">
        Chat Section Under Construction
    </em>
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div>
                <span class="pull-right">
                <input type="checkbox" ng-model="autoScroll"></input> Autoscroll new messages
                </span>
            </div>
            <div class="scrollable-chat">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-2">Name</th>
                            <th class="col-xs-10">Text</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="msg in messages">
                            <td class="col-xs-2" ng-bind="msg.name"></td>
                            <td class="col-xs-10" ng-bind="msg.text"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3">
            <div>
                <ul class="nav nav-list well">
                    <li class="nav-header">Local Users</li>
                    <li ng-repeat="user in roster" ng-bind="user">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row controls">
        <form ng-submit="send()">
            <p class="col-xs-12">
                <input type="text" class="form-control" ng-model="name" ng-change="setName()" placeholder="Your Name">
            </p>
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="text" placeholder="Message">
                    <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Send" ng-disabled="!text">
          </span>
                </div>
            </div>
        </form>
    </div>
</div>
